.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    transition: all 0.3s;
    img {
        max-width: 100px;
        align-self: center;
    }
}

.card-dark {
    background-color: var(--background-secondary-color-dark-theme);
    color: var(--text-color-dark-theme);
}