.favorites {
    display: grid;
    grid-template-columns: auto;
    max-width: 1280px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 0 20px;
}
@media screen and (min-width: 576px) {
    .favorites {
        grid-template-columns: auto auto;
    }
    
}
@media screen and (min-width: 768px) {
    .favorites {
        grid-template-columns: auto auto auto;
    }
    
}