.footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border-image: linear-gradient(
      to right,
      var(--primary-color-dark-theme),
      var(--secondary-color-dark-theme),
      var(--primary-color-dark-theme),
      var(--secondary-color-dark-theme)
    )
    1;
  p {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
  }
  img {
    height: 50px;
  }
}
.footer-dark {
  background-color: var(--background-secondary-color-dark-theme);
  border-top: 1px solid;
  color: var(--text-color-dark-theme);
}
.footer-light {
  background-color: var(--background-primary-color-light-theme);
  border-top: 1px solid;
  color: var(--text-color-light-theme);
}
