.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: var(--height-header);
  align-items: center;
  border-bottom: 2px solid;
  border-image: linear-gradient(
    to right,
    var(--primary-color-dark-theme),
    var(--secondary-color-dark-theme),
    var(--primary-color-dark-theme),
    var(--secondary-color-dark-theme)
    )
    1;
    :hover {
      color: var(--primary-color-dark-theme);
    }
    li {
    list-style: none;
  }
  button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.header button:hover {
  background-color: transparent;
}

.header-dark {
  background-color: var(--background-secondary-color-dark-theme);

  color: var(--primary-color-dark-theme);
  a {
    color: var(--text-color-dark-theme);
  }
}

.header-light {
  background-color: var(--background-primary-color-light-theme);
  
  color: var(--primary-color-light-theme);
  a {
    color: var(--text-color-light-theme);
  }

}