body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color-light-theme: #142;
  --secondary-color-light-theme: #045;
  --text-color-light-theme: #201;
  --background-primary-color-light-theme: #EEE;
  --background-secondary-color-light-theme: #CCC;
  --overlay-color-light-theme: rgba(200, 200, 200, 0.5);
  --height-header: 48px;

  --primary-color-dark-theme: #1A7;
  --secondary-color-dark-theme: #0DF;
  --text-color-dark-theme: #DFE;
  --background-primary-color-dark-theme: #111;
  --background-secondary-color-dark-theme: #333;
  --overlay-color-dark-theme: rgba(0, 0, 0, 0.5);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: var(--background-primary-color);
  color: var(--text-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  text-decoration: none;
}
